<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]ProjectOne</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Yeni_klasör.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">LOGO</a>
            
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Ara...">
            </div>
            
            <div class="nav-items">
                <a href="#" class="nav-item" title="Yardım">
                    <i class="fas fa-question-circle"></i>
                </a>
                <a href="#" class="nav-item" title="Bildirimler">
                <i class="fa-solid fa-bell"></i>
                </a>
                <a href="#" class="nav-item" title="Profil">
                <i class="fa-solid fa-user"></i>
                <!-- <img src="https://via.placeholder.com/32" alt="Profil" class="profile-img"> --> 
                </a>
            </div>
        </nav>
    </header>

    <div class="container">
        <aside>
            <div class="sidebar-menu">
                <div class="menu-item active">
                    <i class="fas fa-home"></i>
                    <span>Ana Sayfa</span>
                </div>
                <div class="menu-item">
                    <i class="fas fa-chart-line"></i>
                    <span>Analizler</span>
                </div>
                <div class="menu-item">
                    <i class="fas fa-file-alt"></i>
                    <span>Raporlar</span>
                </div>
                <div class="menu-item">
                    <i class="fas fa-cog"></i>
                    <span>Ayarlar</span>
                </div>
                <div class="menu-item">
                    <i class="fas fa-question-circle"></i>
                    <span>Yardım</span>
                </div>
            </div>
        </aside>

        <main role="main">
            @RenderBody()
        </main>
    </div>
        
    

    <footer>
        <div class="container">
            &copy; 2025 - Yeni_klasör - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
